<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
			
    <bean id="customerService" class="bean.CustomerServiceImpl">
    	<property name="message" value="monitoring-notification-email-template" />
		<property name="parameters" ref="SupportEmailSettings" />
    </bean>
    <util:map id="SupportEmailSettings">
		<entry key="sendTo" value="DawnInfoTek" />
		<entry key="bcc" value="DawnInfoTekBCC" />
	</util:map>
	
	<util:map id="dynatrace-notification">
		<entry key="rules" value-ref="dynatrace-rule"/>
		<entry key="notifiers" value-ref="dynatrace-notifiers"/>
	</util:map>
	
	<util:map id="dynatrace-notifiers">
		<entry key="email" value-ref="dynatrace-email-notifier"/>
		<entry key="sms" value-ref="dynatrace-sms-notifier"/>
		<entry key="voice" value-ref="dynatrace-voice-notifier"/>
	</util:map>
	
	<util:map id="dynatrace-rule">
		<entry key="tsysApiWebDelay">
			<map>
				<entry key="email" value="true"/>
				<entry key="sms" value="true"/>
				<entry key="voice" value="true"/>
				<entry key="smsMessage" value="This is a sms message for tsys api web delay"/>	
				<entry key="voiceMessage" value="This is a voice message for tsys api web delay"/>										
			</map>
		</entry>
	
		<entry key="tsysApiDbDelay">
			<map>
				<entry key="email" value="true"/>
				<entry key="sms" value="true"/>
				<entry key="voice" value="true"/>
				<entry key="smsMessage" value="This is a sms message for tsys api db delay"/>	
				<entry key="voiceMessage" value="This is a voice message for tsys api db delay"/>										
			</map>
		</entry>
	</util:map>
	
	<bean id="dynatrace-email-notifier" class="com.dawninfotek.aha.messenger.impl.DynaEmailNotifier">
		<property name="sendFrom" value="aqahc@dawninfotek.com"/>
		<property name="sendTo" value="daniel.liu@dawninfotek.com"/>
	</bean>
	<bean id="dynatrace-sms-notifier" class="com.dawninfotek.aha.messenger.impl.DynaSmsNotifier">
		<property name="phoneNumbers" value="4166278363" />
		<property name="phoneProviders" value="BellMobility" />
	</bean>
	<bean id="dynatrace-voice-notifier" class="com.dawninfotek.aha.messenger.impl.DynaVoiceNotifier">
		<property name="primaryContacts" value="4162715025" />
		<property name="informContacts" value="4162772662" />
	</bean>
</beans>